zigbee2mqtt:
  image:
    tag: 2.8.0
  statefulset:
    storage:
      enabled: true
      size: 1Gi
      storageClassName: longhorn
      # existingVolume: "pvc-91ff2458-5a78-4b2d-b50a-55a-c3ba34a6"
  zigbee2mqtt:
    serial:
      port: tcp://192.168.88.76:6638
      baudrate: 115200
      adapter: zstack
    permit_join: true
    advanced:
      transmit_power: 20
    mqtt:
      server: "mqtt://emqx.internal.mateuszholowieszko.com"