app-template:
  controllers:
    main:
      containers:
        main:
          image:
            repository: owntracks/recorder
            tag: 1.0.1
          env:
            OTR_HOST: emqx.internal.mateuszholowieszko.com
            OTR_PORT: 1883
  service:
    main:
      ports:
        http:
          port: 8083
          protocol: HTTP
  ingress:
    main:
      enabled: true
      className: traefik
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
        kubernetes.io/ingress.class: "traefik"
      hosts:
        - host: owntracks-recorder.internal.mateuszholowieszko.com
          paths:
            - path: /
              pathType: Prefix
              service:
                name: main
                port: http
      tls:
        - hosts:
            - owntracks-recorder.internal.mateuszholowieszko.com
          secretName: owntracks-recorder-internal-mateuszholowieszko-com-tls
  persistence:
    # config:
    #   enabled: true
    #   type: persistentVolumeClaim
    #   accessMode: ReadWriteOnce
    #   storageClass: longhorn
    #   size: 1Gi
    store:
      enabled: true
      type: persistentVolumeClaim
      accessMode: ReadWriteOnce
      storageClass: longhorn
      size: 5Gi
      # existingClaim: