app-template:
  controllers:
    main:
      containers:
        main:
          image:
            repository: owntracks/recorder
            tag: 1.0.1
          env:
            OTR_HOST: emqx.internal.mateuszholowieszko.com
            OTR_PORT: 1883

    frontend:
      containers:
        main:
          image:
            repository: owntracks/frontend
            tag: 2.15.3
          env:
            SERVER_HOST: owntracks-recorder.internal.mateuszholowieszko.com
            SERVER_PORT: 443
    
  service:
    main:
      controller: main
      ports:
        http:
          port: 8083
          protocol: HTTP

    frontend:
      controller: frontend
      ports:
        http:
          port: 80
          protocol: HTTP

  ingress:
    main:
      enabled: true
      className: traefik
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
        kubernetes.io/ingress.class: "traefik"
      hosts:
        - host: owntracks-recorder.internal.mateuszholowieszko.com
          paths:
            - path: /
              pathType: Prefix
              service:
                name: main
                port: http
      tls:
        - hosts:
            - owntracks-recorder.internal.mateuszholowieszko.com
          secretName: owntracks-recorder-internal-mateuszholowieszko-com-tls

    frontend:
      enabled: true
      className: traefik
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
        kubernetes.io/ingress.class: "traefik"
      hosts:
        - host: owntracks.internal.mateuszholowieszko.com
          paths:
            - path: /
              pathType: Prefix
              service:
                name: frontend
                port: http
      tls:
        - hosts:
            - owntracks.internal.mateuszholowieszko.com
          secretName: owntracks-internal-mateuszholowieszko-com-tls

  configMaps:
    owntracks-frontend-config:
      enabled: true
      data:
        config.js: |
          const startDateTime = new Date();
          startDateTime.setTime(startDateTime.getTime() - 24 * 60 * 60 * 1000);

          window.owntracks = window.owntracks || {};
          window.owntracks.config = {
            api: {
              baseUrl: 'https://owntracks-recorder.internal.mateuszholowieszko.com',
              fetchOptions: {},
            },
            startDateTime
          };

  persistence:
    store:
      enabled: true
      type: persistentVolumeClaim
      accessMode: ReadWriteOnce
      storageClass: longhorn
      size: 5Gi
      # existingClaim:

    config:
      enabled: true
      type: configMap
      name: owntracks-recorder-owntracks-frontend-config
      globalMounts:
        - path: /usr/share/nginx/html/config/config.js
          subPath: config.js
          readOnly: false