app-template:
  controllers:
    main:
      containers:
        main:
          image:
            repository: owntracks/recorder
            tag: 1.0.1
          env:
            OTR_HOST: emqx.internal.mateuszholowieszko.com
            OTR_PORT: 1883

    frontend:
      containers:
        main:
          image:
            repository: owntracks/frontend
            tag: 2.15.3
          env:
            SERVER_HOST: owntracks-recorder.internal.mateuszholowieszko.com
            SERVER_PORT: 443
    
  service:
    main:
      controller: main
      ports:
        http:
          port: 8083
          protocol: HTTP

    frontend:
      controller: frontend
      ports:
        http:
          port: 80
          protocol: HTTP

  ingress:
    main:
      enabled: true
      className: traefik
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
        kubernetes.io/ingress.class: "traefik"
      hosts:
        - host: owntracks-recorder.internal.mateuszholowieszko.com
          paths:
            - path: /
              pathType: Prefix
              service:
                name: main
                port: http
      tls:
        - hosts:
            - owntracks-recorder.internal.mateuszholowieszko.com
          secretName: owntracks-recorder-internal-mateuszholowieszko-com-tls

    frontend:
      enabled: true
      className: traefik
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
        kubernetes.io/ingress.class: "traefik"
      hosts:
        - host: owntracks.internal.mateuszholowieszko.com
          paths:
            - path: /
              pathType: Prefix
              service:
                name: frontend
                port: http
      tls:
        - hosts:
            - owntracks.internal.mateuszholowieszko.com
          secretName: owntracks-internal-mateuszholowieszko-com-tls

  configMaps:
    owntracks-frontend-config:
      enabled: true
      data:
        config.js: |
          import deepmerge from "deepmerge";

          const endDateTime = new Date();
          endDateTime.setHours(23, 59, 59, 0);

          const startDateTime = new Date(endDateTime);
          startDateTime.setMonth(startDateTime.getMonth() - 1);
          startDateTime.setHours(0, 0, 0, 0);

          const DEFAULT_CONFIG = {
            api: {
              baseUrl: `${window.location.protocol}//${window.location.host}`,
              fetchOptions: {},
            },
            endDateTime,
            filters: {
              minAccuracy: null,
            },
            ignorePingLocation: true,
            locale: "en-US",
            map: {
              attribution:
                '&copy; <a href="https://osm.org/copyright">OpenStreetMap</a> contributors',
              circle: {
                color: null,
                fillColor: null,
                fillOpacity: 0.2,
              },
              circleMarker: {
                color: null,
                fillColor: "#fff",
                fillOpacity: 1,
                radius: 4,
              },
              controls: {
                scale: {
                  display: true,
                  imperial: true,
                  maxWidth: 200,
                  metric: true,
                  position: "bottomleft",
                },
                zoom: {
                  display: true,
                  position: "topleft",
                },
              },
              heatmap: {
                blur: 15,
                gradient: null,
                max: 20,
                radius: 25,
              },
              layers: {
                heatmap: false,
                last: true,
                line: true,
                poi: true,
                points: false,
              },
              maxNativeZoom: 19,
              maxPointDistance: null,
              maxZoom: 21,
              poiMarker: {
                color: "red",
                fillColor: "red",
                fillOpacity: 0.2,
                radius: 12,
              },
              polyline: {
                color: null,
                fillColor: "transparent",
              },
              tileSize: 256,
              url: "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
              zoomOffset: 0,
            },
            onLocationChange: {
              fitView: false,
              reloadHistory: false,
            },
            primaryColor: "#3f51b5",
            router: {
              basePath: "/",
            },
            selectedDevice: null,
            selectedUser: null,
            showDistanceTravelled: true,
            startDateTime,
            verbose: false,
          };

          // Use deepmerge to combine the default and user-defined configuration.
          // This enables the user to use a fairly small config object which only
          // needs to contain actual changes, not all default values - and these
          // stay up-to-date automatically.
          // There might not be a user-defined config, default to an empty object.
          export default deepmerge(DEFAULT_CONFIG, (window.owntracks || {}).config || {});

  persistence:
    # config:
    #   enabled: true
    #   type: persistentVolumeClaim
    #   accessMode: ReadWriteOnce
    #   storageClass: longhorn
    #   size: 1Gi
    store:
      enabled: true
      type: persistentVolumeClaim
      accessMode: ReadWriteOnce
      storageClass: longhorn
      size: 5Gi
      # existingClaim:

  globalMounts:
    - path: /usr/share/nginx/html/config/config.js
      type: configMap
      readOnly: true
      name: owntracks-frontend-config
    # config.js:
    #   enabled: true
    #   type: configMap
    #   name: owntracks-frontend-config

# frontend:
#   controllers:
#     main:
#       containers:
#         main:
#           image:
#             repository: owntracks/frontend
#             tag: 2.15.3
#           env:
#             SERVER_HOST: owntracks-recorder.internal.mateuszholowieszko.com
#             SERVER_PORT: 443
#   service:
#     main:
#       ports:
#         http:
#           port: 80
#           protocol: HTTP
#   ingress:
#     main:
#       enabled: true
#       className: traefik
#       annotations:
#         cert-manager.io/cluster-issuer: letsencrypt-prod
#         kubernetes.io/ingress.class: "traefik"
#       hosts:
#         - host: owntracks.internal.mateuszholowieszko.com
#           paths:
#             - path: /
#               pathType: Prefix
#               service:
#                 name: main
#                 port: http
#       tls:
#         - hosts:
#             - owntracks.internal.mateuszholowieszko.com
#           secretName: owntracks-internal-mateuszholowieszko-com-tls
#   persistence:
#     # config:
#     #   enabled: true
#     #   type: persistentVolumeClaim
#     #   accessMode: ReadWriteOnce
#     #   storageClass: longhorn
#     #   size: 1Gi
#     # store:
#     #   enabled: true
#     #   type: persistentVolumeClaim
#     #   accessMode: ReadWriteOnce
#     #   storageClass: longhorn
#     #   size: 5Gi
#       # existingClaim: